{% extends "base/dashboard_base.html" %}
{% block page_title %}Secretary Dashboard{% endblock %}
{% block content %}
<h4 class="mb-3">Welcome, {{ user.get_full_name|default:user.username }}</h4>
{% include "dashboard/_stats_common.html" %}
<div class="row g-3">
  <div class="col-md-6">
    <div class="card p-3 text-center">
      <h6>Register a New Member</h6>
      <a href="{% url 'members:create' %}" class="btn btn-navy mt-2">Register Member</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card p-3 text-center">
      <h6>Generate a Report</h6>
      <a href="{% url 'reports:center' %}" class="btn btn-gold mt-2">Go to Reports</a>
    </div>
  </div>
</div>
{% endblock %}
